projects/standford-swift-iOS/Psychologist/Psychologist.xcodeproj/xcuserdata/*
projects/standford-swift-iOS/Psychologist/Psychologist.xcodeproj/project.xcworkspace/xcuserdata/*
projects/standford-swift-iOS/Calculator/Calculator.xcodeproj/project.xcworkspace/xcuserdata/Zizo.xcuserdatad/*
projects/standford-swift-iOS/Happiness/Happiness.xcodeproj/project.xcworkspace/xcuserdata/Zizo.xcuserdatad/*
projects/standford-swift-iOS/SizeClassesDemo/SizeClassesDemo.xcodeproj/project.xcworkspace/xcuserdata/Zizo.xcuserdatad/*
projects/standford-swift-iOS/SizeClassesDemo/SizeClassesDemo.xcodeproj/xcuserdata/*
projects/standford-swift-iOS/Autolayout/Autolayout.xcodeproj/project.xcworkspace/xcuserdata/*
projects/standford-swift-iOS/DropIt/DropIt.xcodeproj/project.xcworkspace/xcuserdata/*
projects/standford-swift-iOS/DropIt/DropIt.xcodeproj/xcuserdata/*
